{# templates/index.html #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">

  <script src="{{url_for('static', filename='jquery.js')}}"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>

  <title>Buli's blockchain</title>
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <h1>Welcome to BuliCoin node</h1>
          <ul>
            <li>Server name: <font style="color: {{ name }} ">{{ name }}</font></li>
            <li>Server port: {{ port }}</li>
            <li>Current complexity: {{ complexity }} leading zeros</li>
            <li>Chain length: {{ chain_length }} blocks</li>
          </ul>
          <hr>
        </div>
        <div class="row">
          <div class="col">
            <p>
              <button type="button" class="btn btn-outline-primary" id="mine_new_block">Mine new block</button>
            </p>
            <p>
              <button type="button" class="btn btn-outline-primary" id="validate_chain">Validate chain</button>
            </p>
            <p>
              <button type="button" class="btn btn-outline-primary" id="get_nodes">Get nodes</button>
            </p>
            <p>
              <button type="button" class="btn btn-outline-primary" id="replace_chain">Replace chain</button>
            </p>
            <p>
              <button type="button" class="btn btn-outline-primary" id="complexity">Update complexity</button>
            </p>
            <p>
              <button type="button" class="btn btn-outline-primary" id="refresh_blockchain">Refresh blockchain</button>
            </p>
          </div> 
          <div class="col">
            <div class="row">
              <p>
                <label for="complexity_input">Complexity (between 1 and 10): </label>
              </p>
              <p>
                <input type="number" id="complexity_input" name="quantity" min="1" max="10"> 
                <button type="button" class="btn btn-outline-primary" id="set_complexity">Set complexity</button>
              </p>
              <hr>
            </div>
            <div class="row">
              <p>
                <label for="sender">Sender: </label>
                <input type="text" id="sender">
              </p>
              <p>
                <label for="receiver">Receiver: </label>
                <input type="text" id="receiver"> 
              </p>
              <p>
                <label for="amount">Amount: </label>
                <input type="text" id="amount"> 
              </p>
              <p>
                <button type="button" class="btn btn-outline-primary" id="add_transaction">Add transaction</button>
              </p>
            </div>
          </div>
        </div>
        <hr>
        <h3>API response:</h3>
        <p id="api_response"></p>
        <hr>
        <h3>Current blockchain</h3>
        <div class="container py-2 my-2 rounded blockchain">
            {% for block in chain %}
            <div class="container my-2 py-2 rounded block">
            Block {{block.index}}
              <ul>
                <li>Timestamp: {{ block.timestamp }}</li>
                <li>Nonce: {{ block.nonce }}</li>
                <li>Previous hash: {{ block.prev_hash }}</li>
                <li>Complexity: {{ block.current_complexity }}</li>
                <li>Transactions:</li>
                {% for transaction in block.transactions %}
                  <div class="container my-2 py-1 rounded transaction">
                    <ul>
                      <li>Amount: {{ transaction.amount }}</li>
                      <li>Sender: {{ transaction.sender }}</li>
                      <li>Receiver: {{ transaction.receiver }}</li>
                    </ul>
                  </div>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>