{# templates/index.html #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#complexity").click(function(){
        $("#complex_value").load('/complexity');
      });
    });

    $(document).ready(function(){
      $("#mine_new_block").click(function(){
        $("#new_block_alert").load('/mine_block');
      });
    });

    $(document).ready(function(){
      $("#get_nodes").click(function(){
        $("#get_nodes_reponse").load('/get_nodes');
      });
    });

    $(document).ready(function(){
      $("#replace_chain").click(function(){
        $("#replace_chain_reponse").load('/replace_chain');
      });
    });

    $(document).ready(function(){
      $("#set_complexity").click(function(){
        $("#new_complex_value").load('/complexity/' + $("#complexity_input").val());
      });
    });

    $(document).ready(function(){
      $("#validate_chain").click(function(){
        $("#validate_chain_reponse").load('/validate');
      });
    });

    $(document).ready(function(){
      $("#add_transaction").click(function(){
          $.ajax({
              type: 'POST',
              url: '/add_transaction',
              data: JSON.stringify ({sender: $("#sender").val(), receiver:$("#receiver").val(), amount: $("#amount").val()}),
              success: function(data) { 
                $("#transaction_alert").text('Transaction will be added to the next block: ' + 
                JSON.stringify ({
                  sender: $("#sender").val(), 
                  receiver:$("#receiver").val(), 
                  amount: $("#amount").val()}));   
              },
              contentType: "application/json",
              dataType: 'json'
          });
      });
    });

    $(document).ready(function(){
      $("#refresh_blockchain").click(function(){
        location.reload();
      });
    });
    </script>
  <title>Buli's blockchain</title>
</head>

<body>
  <h1>Welcome to BuliCoin node</h1>
  <ul>
    <li>Server name: <font style="color: {{ name }} ">{{ name }}</font></li>
    <li>Server port: {{ port }}</li>
    <li>Current complexity: {{ complexity }} leading zeros</li>
    <li>Chain length: {{ chain_length }} blocks</li>
  </ul>
  <hr>
  <button id="mine_new_block">Mine new block</button>
  <p id="new_block_alert"></p>  

  <button id="validate_chain">Validate chain</button>
  <p id="validate_chain_reponse"></p>

  <button id="get_nodes">Get nodes</button>
  <p id="get_nodes_reponse"></p>

  <button id="replace_chain">Replace chain</button>
  <p id="replace_chain_reponse"></p>

  <button id="complexity">Update complexity</button>
  <p id="complex_value"></p>

  <label for="complexity_input">Complexity (between 1 and 10): </label>
  <input type="number" id="complexity_input" name="quantity" min="1" max="10"> 
  <button id="set_complexity">Set complexity</button>
  <p id="new_complex_value"></p>
  <p>
    <label for="sender">Sender: </label>
    <input type="text" id="sender">
  </p>
  <p>
    <label for="receiver">Receiver: </label>
    <input type="text" id="receiver"> 
  </p>
  <p>
    <label for="amount">Amount: </label>
    <input type="text" id="amount"> 
  </p>

  <p>
    <button id="add_transaction">Add transaction</button>
  </p>
  <p id="transaction_alert"></p>
  <p>
    <button id="refresh_blockchain">Refresh blockchain</button>
  </p>
  <hr>
  <h2>Current blockchain</h2>
  <ul>
    {% for block in chain %}
    <li>Block {{block.index}}
      <ul>
        <li>Timestamp: {{ block.timestamp }}</li>
        <li>Nonce: {{ block.nonce }}</li>
        <li>Previous hash: {{ block.prev_hash }}</li>
        <li>Complexity: {{ block.current_complexity }}</li>
        <li>Transactions:
          <ul>
            {% for transaction in block.transactions %}
            <li>Amount: {{ transaction.amount }}</li>
            <li>Sender: {{ transaction.sender }}</li>
            <li>Receiver: {{ transaction.receiver }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>

</body>
</html>